ul.reviews {
    margin-top: 16px;
}

ul.reviews > li.review {
    padding: 8px;
    border-bottom: 2px solid #e0e0e0;
}

div.review-teacher>p.is_active, div.review-course>p.is_active {
    font-weight: bold;
}

div.review-teacher>p {
    margin:1px;
}
div.review-date {
    float: right;
}